
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

label{
    font-family: 'Times New Roman', Times, serif;
}

.boton{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    

}


img{
   
     width: 200px; 
    height: 200px;
}
.img-container {
    text-align: center;
  }
